<!DOCTYPE html>
<html lang="en" >
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucks Locator</title>
</head>
<center>
<h1>Trucks Locator</h1>

<div id='map' style='width: 800px; height: 600px;'></div>
<h1 id="h1"></h1>
</center>


<script >

    //const ori = require('./calc_dist').oris;

mapboxgl.accessToken = 'pk.eyJ1IjoicGhhcnNoaWwxOTAyIiwiYSI6ImNrbzFrMDV6ZjA5ODcyb3E5cDFubW93aWwifQ.dgyiIUEdqHuZ0zeoE1g9uw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
zoom:9,
center: [{{origin.lgt}},{{origin.lat}}]  //[73.36,22.50]
});


map.on('load', function () {
        // Add an image to use as a custom marker
        map.loadImage(
        'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
        function (error, image) {
        if (error) throw error;
        map.addImage('custom-marker', image);
        // Add a GeoJSON source with 2 points
        map.addSource('points', {
        'type': 'geojson',
        'data': {
        'type': 'FeatureCollection',
        'features': [
              {
            'type': 'Feature',
                'geometry': {
                'type': 'Point',
                'coordinates': [{{o.coo2}},{{o.coo1}}]
                },
                'properties': {
                'title': '{{o.title}} - {{o.item}}'
                
                }
             },
             {
            'type': 'Feature',
                'geometry': {
                'type': 'Point',
                'coordinates': [{{tt.coo2}},{{tt.coo1}}]
                },
                'properties': {
                'title': '{{tt.title}} - {{tt.item}}'
                }
             },
              {
            'type': 'Feature',
                'geometry': {
                'type': 'Point',
                'coordinates': [{{th.coo2}},{{th.coo1}}]
                },
                'properties': {
                'title': '{{th.title}} - {{th.item}}'
                }
             },
              {
            'type': 'Feature',
                'geometry': {
                'type': 'Point',
                'coordinates': [{{fr.coo2}},{{fr.coo1}}]
                },
                'properties': {
                'title': '{{fr.title}} - {{fr.item}}'
                }
             },
              {
            'type': 'Feature',
                'geometry': {
                'type': 'Point',
                'coordinates':[{{fv.coo2}},{{fv.coo1}}]
                },
                'properties': {
                'title': '{{fv.title}} - {{fv.item}}'
                }
             }
              
         ]
        
        }
        });
         
        // Add a symbol layer
        map.addLayer({
        'id': 'points',
        'type': 'symbol',
        'source': 'points',
        'layout': {
        'icon-image': 'custom-marker',
        // get the title name from the source's "title" property
        'text-field': ['get', 'title'],
        'text-font': [
        'Open Sans Semibold',
        'Arial Unicode MS Bold'
        ],
        'text-offset': [0, 1.25],
        'text-anchor': 'top'
        }
        });
        }
        );
        });
 
</script>



<script>

</script>

<body>
    
</body>
</html>